.topContainer,
.topLeft,
.topRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.topLeft {
    justify-content: space-around;
}

.topRight>h3 {
    margin: 0 20px;
}


.logo {
    width: 56px;
    height: 56px;
    margin-right: 20px;
}



.useAvatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;

}

.logo img,
.useAvatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}